<p>Thank you for booking your trip with Meadowlark Trave, {{ cart.billing.name }} !</p>
<p>Your reservation number is {{ cart.number }}, and and email has been sent to {{ cart.billing.email }} for your records.</p>